body,
html {
    height: 100%;
    background-color: #EEEEEE;
}

#header-prin {
    margin: auto;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#car {
    width: 150px;
    height: 70px;
}