<header>
    <app-memu-principal></app-memu-principal>
</header>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<div id="banner">
    <img id="banner-inicio" src="assets/img/banner.png">
</div>
<br>
<hr id="hr" />
<br>
<br>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#productos">Productos</a></li>
    <li><a data-toggle="tab" href="#Libros">Libros</a></li>
    <li><a data-toggle="tab" href="#Papeleria">Papeleria</a></li>
    <li><a data-toggle="tab" href="#Estudiantes">Estudiantes</a></li>
    <li><a data-toggle="tab" href="#Oficina">Oficina</a></li>
</ul>


<div class="tab-content">
    <h1>Productos</h1>
    <div class="card-columns">
        <div class="card" *ngFor="let productos of productos">
            <img [src]="productos.img" class="card-img-top
img-fluid" [alt]="productos.nombre">
            <div class="card-body">
                <h5 class="card-title">{{ productos.nombre }}</h5>
                <p class="card-text"> {{ productos.descripcion }}
                </p>
                <p class="card-text"><small class="text-muted">{{productos.precio }}</small></p>
            </div>
        </div>
    </div>

</div>
<br>
<br><br><br><br><br><br><br><br><br><br>
<footer>
    <app-footer></app-footer>
</footer>