<header>
    <app-memu-principal></app-memu-principal>
</header>

<div id="banner">
    <img id="banner-inicio" src="assets/img/banner.png">
</div>
<br>
<hr id="hr" />
<br>
<br>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#productos">Productos</a></li>
    <li><a data-toggle="tab" href="#Libros">Libros</a></li>
    <li><a data-toggle="tab" href="#Papeleria">Papeleria</a></li>
    <li><a data-toggle="tab" href="#Estudiantes">Estudiantes</a></li>
    <li><a data-toggle="tab" href="#Oficina">Oficina</a></li>
</ul>


<div class="tab-content">
    <div id="productos" class="tab-pane fade in active">
        <app-oficina></app-oficina>

    </div>
    <div id="Libros" class="tab-pane fade">
        <br>
        <app-libros></app-libros>
    </div>
    <div id="Papeleria" class="tab-pane fade">

        <app-papeleria></app-papeleria>
    </div>
    <div id="Estudiantes" class="tab-pane fade">

        <app-estudiantil></app-estudiantil>
    </div>
    <div id="Oficina" class="tab-pane fade">

        <app-oficina></app-oficina>
    </div>

    <br>
    <br><br><br><br><br><br><br><br><br><br>
    <footer>
        <app-footer></app-footer>
    </footer>