<footer>
    <h3 class="text-center">Siguenos en</h3><br>
    <ul class="list-unstyled text-center">
        <a href="https://www.facebook.com" class="social-icon all-elements-tooltip" data-toggle="tooltip" data-placement="bottom" title="Facebook">
            <img src="assets/img/social-facebook.png" alt="facebook-icon">
        </a>
        <a href="https://www.instagram.com" class="social-icon all-elements-tooltip" data-toggle="tooltip" data-placement="bottom" title="Google +">
            <img src="assets/img/insta.png" alt="instagram-icon">
        </a>
        <a href="https://twitter.com/?lang=es" class="social-icon all-elements-tooltip" data-toggle="tooltip" data-placement="bottom" title="Twitter">
            <img src="assets/img/social-twitter.png" alt="twitter-icon">
        </a>
    </ul>
    <br><br><br>
    <h5 class="text-center tittles-pages-logo">Libreria &copy; Metodologia Agil Scrum 2019</h5>
</footer>