.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

#youtube {
    width: 50px;
    height: 50px;
}

.rowx {
    text-align: center;
}