#logo2 {
    width: 50px;
    height: 50px;
}

#nava ul li img {
    float: left;
}

#nava {
    margin: auto;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background: #323639;
}

#nava ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*background: #00a4d3 para color celeste*/
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    margin: 0;
}

#nava ul {
    padding-left: 850px;
    padding-right: 30px;
}

#nava ul li {
    text-align: right;
    background-color: #323639;
    color: #fff;
    text-decoration: none;
    display: block;
}

#nava ul li a {
    text-align: right;
    background-color: #323639;
    color: #fff;
    text-decoration: none;
    padding: 10px 10px;
    display: block;
}

#nava ul li a:hover {
    background-color: #000000;
}

#nava ul li:hover>ul {
    display: block;
}