#logo2 {
    width: 100px;
    height: 90px;
}

#nava ul li img {
    float: left;
}

#nava {
    margin: auto;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background: #323639;
}

#nava ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*background: #00a4d3 para color celeste*/
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    margin: 0;
}

#nava ul {
    padding-left: 850px;
    padding-right: 30px;
}

#nava ul li {
    text-align: right;
    background-color: #323639;
    color: #fff;
    text-decoration: none;
    display: block;
    bottom: 10px;
}

#nava ul li a {
    text-align: right;
    background-color: #323639;
    color: #fff;
    text-decoration: none;
    padding: 10px 10px;
    display: block;
}

#nava ul li a:hover {
    background-color: #000000;
}

#nava ul li:hover>ul {
    display: block;
}

img.logo {
    float: left;
    height: auto;
    margin: auto;
    border-radius: 50%;
    transition: All 0.5s ease;
}

p {
    position: relative;
    color: #2F3C4F;
    font-size: 40px;
    background: white;
    padding: 20px;
    margin: -8px -8px 0px -8px;
    transition: All 0.5s ease;
}

p.bienvenida {
    font-size: 10px;
    position: absolute;
    top: 10px;
    left: 90%;
    color: #808080;
}