body {
    margin-inline-end: 2px;
    height: 100%;
}

#error {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
}

#video {
    padding-left: 25%;
    width: 15%;
    height: 15%;
}