<header>
    <app-menu></app-menu>
</header>

<body>
    <div class="cuadro">
        <h2><span class="icon-Editar"></span> Registrarme</h2>
        <form method="post">
            <a href='login'>Iniciar Sesion</a><br>
            <input type="text" name="txtnombreU" placeholder="Nombre"><br>
            <br><input type="text" name="txtapellido" placeholder="Apellido" /><br>
            <br><input type="text" name="txtcarrera" placeholder="Carrera" /><br>
            <br><input type="text" name="txtnombre" placeholder="Nickname" required/><br>
            <br><input type="text" name="txtcorreo" placeholder="Correo" required/><br>
            <br><input type="password" name="txtclave" placeholder="Ingrese la Clave" required/><br><br><br>
            <button class="boton" type="submit" name="btnregistrar">
						Listo
                    </button> Posee una Cuenta <a href="login">Iniciar</a>
        </form>
    </div>
</body>
<footer>
    <app-footer></app-footer>
</footer>