<header>
    <app-menu></app-menu>
</header>

<body>
    <div class="cuadro">
        <h2><span class="icon-Editar"></span> Registrarme</h2>
        <form action="Principal">
            <input type="text" name="txtnombreU" placeholder="Nombre"><br>
            <br><input type="text" name="txtapellido" placeholder="Apellido" /><br>
            <br><input type="text" name="txtuser" placeholder="Usuario" /><br>
            <br><input type="email" name="txtemail" placeholder="Email" required/><br>
            <br><input type="number" name="txtcel" placeholder="Telefono" required/><br>
            <br><input type="password" name="txtclave" placeholder="Contraseña" required/><br>
            <br><input type="password" name="txtclave2" placeholder="Confirmar Contraseña" required/><br><br>
            <button class="boton" type="submit" name="btnregistrar">Registrarse</button><br> Posee una Cuenta <a href="login">Iniciar</a>
        </form>
    </div>
    <footer>
        <app-footer></app-footer>
    </footer>
</body>