body {
    text-align: center;
}

form {
    display: inline-block;
    text-align: center;
}

.cuadro input,
select,
textarea {
    border-radius: 5px;
    padding: 7px;
}

.cuadro input:focus {
    box-shadow: 5px 5px 10px black;
}

.cuadro {
    display: inline-block;
    text-align: center;
    color: rgb(19, 18, 18);
    font: sans-serif;
    width: 400px;
    padding: 30px;
    background: #00adb5;
    box-shadow: 5px 5px 20px black;
}

.boton {
    background-image: linear-gradient(to bottom, #222831, #222831);
    border-radius: 6px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: none;
}