<header>
    <app-menu></app-menu>
</header>

<div id="info">
    <label><h2>Contactanos</h2></label>
    <div id="otro">
        <div id="tel">
            <label><h2>Telefonos</h2></label>
            <p><b>Contrataciones a:</b></p>
            <p>+503 7282-5007</p>
            <p><b>Equipo Desarrollador:</b></p>
            <p>Ruth Sarai Rivas</p>
            <p>+503 7522-0232</p>
            <p>Carlos Alberto Sagastizado</p>
            <p>+503 7590-7950</p>
            <br>
        </div>
        <div id="email">
            <label><h2>Email</h2></label>
            <p><b>Contrataciones a:</b></p>
            <p>softsarilo@gmail.com</p>
            <p><b>Equipo Desarrollador:</b></p>
            <p>Ruth Sarai Rivas</p>
            <p>rsarairivas@gmail.com</p>
            <p>Carlos Alberto Sagastizado</p>
            <p>sagastizado95@gmail.com</p>
            <br>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br>
    <br><br><br>
    <br><br><br>
</div>
<div>
    <footer>
        <app-footer></app-footer>
    </footer>
</div>