header {
    margin: auto;
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin-inline-end: 2px;
    height: 100%;
}

#banner1 {
    text-align: center;
}

#info {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
}

#video {
    padding-left: 25%;
    width: 15%;
    height: 15%;
}

#visi {
    float: left;
    width: 40%;
}

#misi {
    float: right;
    width: 40%;
}