<header>
    <app-menu></app-menu>
</header>
<div id="banner1">
    <img src="">
</div>
<div id="info">
    <p>
        Registrate con nosotros.
    </p>

    <div id="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/mssz89BV81g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div>
        <label><h2>¿Quienes somos?</h2></label>
        <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
            quis, sem. Nulla consequat massa quis enim. </p>
        <br>
        <div id="otro">
            <div id="visi">
                <label><h2>Vision</h2></label>
                <p>Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero.</p><br>
            </div>
            <div id="misi">
                <label><h2>Mision</h2></label>
                <p>Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. </p><br><br>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br>
</div>
<div>
    <footer>
        <app-footer></app-footer>
    </footer>
</div>