<header>
    <app-menu></app-menu>
</header>
<div id="banner1">
    <img src="assets/img/banner.png">
</div>
<div id="info">
    <h2>
        <p>
            Registrate con nosotros.
        </p>
    </h2>
    <div id="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/mssz89BV81g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div>
        <label><h2>¿Quienes somos?</h2></label>
        <p>Somos una empresa enfocada al comercio en el area de libros de todo genero, para todo publico, de igual manera contamos con productos de papeleria, que son de necesarios en la oficiona y en la escuela, te invitamos a que revises nuestro catalogo
            y veas nuestros increibles precios.</p>
        <br>

        <div id="visi">
            <label><h2>Vision</h2></label>
            <p>Ser una empresa con mejor calidad en todos nuestros productos utilizando como medio la tecnologia para el cliente, innovando la forma de vender y procesar pedidos.</p><br>
        </div>

        <div id="misi">
            <label><h2>Mision</h2></label>
            <p>Somos una empresa de comercialización de productos y servicios en el área de libros y papeleria enfocada a brindar el mejor servicio y los mejores productos de forma innovadora a nuestros clientes.</p><br><br>
        </div>
    </div>
</div>
<div id="pie">
    <app-footer></app-footer>
</div>