<header>
    <app-menu></app-menu>
</header>


<body>

    <div class="cuadro">
        <form>
            <h2><span class="icon-Entrar"></span> Iniciar Sesion</h2>
            <input type="text" name="txtnombrecorreo" placeholder="Nickname o Correo" required/><br>
            <br><input type="password" name="txtclave" placeholder="Clave" required><br><br>
            <br><button class="boton" type="submit" font="sans-serif" name="btniniciar">
				Iniciar Sesion
			</button><br><br> No eres usuario aun? <a href="registro">Registrate!</a>
        </form>

    </div>
</body>
<footer>
    <app-footer></app-footer>
</footer>