<body>
    <header>
        <app-menu></app-menu>
    </header>
    <div class="cuadro">
        <form action="Principal" center>
            <br>
            <h2>Iniciar Sesion</h2>
            <input type="text" name="txtnombrecorreo" placeholder="Usuario o Email" required/><br>
            <br><input type="password" name="txtclave" placeholder="Contraseña" required><br><br>
            <br><button class="boton" type="submit" font="sans-serif" name="btniniciar">
				Iniciar Sesion
			</button><br><br> No eres usuario aun? <a href="registro">Registrate!</a>
        </form>

    </div>
    <footer>
        <app-footer></app-footer>
    </footer>
</body>