<div class="thumbnail" *ngFor="let papeleria of papeleria">
    <a href=""><img id="foto" [src]="papeleria.img" class="card-img-top
              img-fluid" [alt]="papeleria.nombre"></a>
    <div class="caption">
        <h4>{{ papeleria.nombre }}</h4><br>
        <p>{{ papeleria.descripcion }}</p>
        <p>{{ papeleria.precio }}</p>
        <p class="text-center">
            <a href="" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i>&nbsp; Detalles</a>&nbsp;&nbsp;
            <button value="" class="btn btn-success btn-sm botonCarrito"><i class="fa fa-shopping-cart"></i>&nbsp; Añadir</button>
        </p>

    </div>
</div>